/**
 Colors
**/
/**
 Fonts
 **/
@font-face {
  font-family: 'Aileron';
  font-weight: 200;
  src: local("Aileron Light"), local("Aileron-Light"), url(../fonts/Aileron-Light.woff2) format("woff2"), url(../fonts/Aileron-Light.otf) format("opentype"); }

@font-face {
  font-family: 'Aileron';
  font-weight: 500;
  src: local("Aileron"), local("Aileron"), url(../fonts/Aileron.woff2) format("woff2"), url(../fonts/Aileron.otf) format("opentype"); }

@font-face {
  font-family: 'Aileron';
  font-weight: 900;
  src: local("Aileron Bold"), local("Aileron-Bold"), url(../fonts/Aileron-Bold.woff2) format("woff2"), url(../fonts/Aileron-Bold.otf) format("opentype"); }

/**
 Universal elements
 **/
html, body {
  padding: 0;
  margin: 0; }

body {
  color: #848388;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 200;
  font-family: "Aileron", sans-serif; }

a {
  text-decoration: none;
  color: #A7A8D4;
  cursor: pointer; }

.form {
  width: 80%;
  margin: 0 auto;
  text-transform: uppercase; }
  .form fieldset {
    width: 100%; }
  .form label {
    width: 75%;
    display: inline-block; }
  .form input, .form textarea {
    border: 2px solid #A699D2;
    width: 100%;
    margin: 0 0 10px;
    text-transform: uppercase;
    padding: 10px; }
  .form input[type=submit] {
    background: #A699D2;
    color: #ffffff;
    width: auto;
    padding: 10px 40px;
    text-indent: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    margin: 0 auto;
    display: block; }
  .form input[type=radio] {
    width: auto;
    display: inline-block; }
  .form ::-webkit-input-placeholder, .form ::-moz-placeholder, .form :-ms-input-placeholder {
    color: #A699D2; }

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

.clearfix {
  clear: both; }

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto; }

header {
  display: block;
  padding: 30px 0; }
  header nav {
    position: relative;
    z-index: 2; }
    header nav a {
      position: fixed;
      top: 20px;
      height: 24px;
      padding: 10px; }
      header nav a img {
        display: block;
        width: 25.5px; }
    header nav .navOpen {
      left: 20px; }
    header nav .contactOpen {
      right: 20px; }

#logo {
  display: block;
  text-align: center;
  margin: 0px 0px 30px; }

#navigation {
  list-style: none;
  padding: 20px 0;
  margin: 0;
  text-align: center;
  background-color: #FFFFFF;
  font-family: "Aileron", sans-serif; }
  #navigation li {
    display: inline-block;
    margin-left: 16px; }
    #navigation li.bold a {
      font-weight: bold;
      color: #9B8BBF; }
    #navigation li:nth-child(1) {
      margin: 0; }
    #navigation li a {
      color: #848388;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 16px;
      padding: 10px 20px;
      letter-spacing: 1px; }
      #navigation li a:hover, #navigation li a:active, #navigation li a a.active {
        color: #9B8BBF; }

#sidebar, #contact {
  z-index: 1;
  position: fixed;
  transition: left 1s, right 1s;
  background-color: #A699D2;
  position: fixed;
  width: 250px;
  color: #ffffff;
  padding: 100px 50px;
  top: 0;
  height: 100%;
  font-weight: 900;
  font-family: "Aileron", sans-serif; }

#sidebar {
  left: -350px; }
  .sidebarOpen #sidebar {
    left: 0;
    transition: left 1s; }
  #sidebar hr {
    margin: 40px 0 40px 40px;
    width: 100px;
    color: #FFFFFF;
    height: 1px;
    border-color: #FFFFFF;
    background: #FFFFFF; }
  #sidebar ul {
    list-style: none; }
    #sidebar ul.last {
      margin-bottom: 40px; }
    #sidebar ul li {
      padding: 10px 0; }
      #sidebar ul li ul {
        height: 0;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear; }
      #sidebar ul li.open ul {
        visibility: visible;
        opacity: 1;
        height: auto; }
      #sidebar ul li a {
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 13px; }
  #sidebar input[type=search] {
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 10px 0;
    text-indent: 10px;
    text-transform: uppercase;
    letter-spacing: 0px;
    width: 100%;
    color: #848388; }
  #sidebar .search {
    position: relative;
    max-width: 200px; }
    #sidebar .search input[type=submit] {
      height: 20px;
      width: 20px;
      position: absolute;
      top: 9px;
      right: 5px;
      background: transparent;
      border: 0;
      background-image: url(../images/icons/search.svg);
      font-size: 0;
      cursor: pointer; }

.sidebarOpen #content {
  margin-left: 350px; }

.sidebarOpen a.navOpen rect {
  fill: white !important; }

#contact {
  right: -350px; }
  .contactOpen #contact {
    right: 0; }
  #contact h2 {
    text-align: center; }
  #contact a.contactOpen #envelope-color {
    fill: white !important; }
  #contact a.contactOpen .bgfill {
    fill: #9BA0D0 !important; }
  #contact form input, #contact form select, #contact form textarea {
    background-color: transparent;
    border: 2px solid #FFFFFF;
    padding: 10px 0;
    text-indent: 10px;
    text-transform: uppercase;
    letter-spacing: 0px;
    width: 100%;
    color: #FFFFFF;
    border-radius: 0;
    margin: 0 0 20px; }
  #contact form input[type=submit] {
    background: #FFFFFF;
    color: #A699D2;
    padding: 10px 40px;
    width: 200px;
    text-indent: 0;
    letter-spacing: 2px;
    font-size: 12px;
    margin: 0 auto;
    display: block; }
  #contact .contactOpen #content {
    margin-left: -350px; }
  #contact .contactOpen a.contactOpen #envelope-color {
    fill: white !important; }
  #contact .contactOpen a.contactOpen .bgfill {
    fill: #9ba0d0 !important; }

.contactOpen #content {
  margin-left: -350px; }

#content {
  transition: width 1s, margin 1s; }
  #content article {
    font-family: "Georgia", serif;
    line-height: 1.5rem;
    font-size: 1.05em;
    color: #141414; }

h2 {
  margin: 0;
  padding: .8em 3rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
  font-family: "Aileron", sans-serif; }

#site-messages {
  list-style: none;
  text-align: center; }

#footer {
  width: 100%;
  padding: 50px 0;
  background-color: #A699D2;
  color: #FFFFFF;
  letter-spacing: 1px;
  margin-top: 40px;
  font-weight: normal;
  font-family: "Aileron", sans-serif; }
  #footer .column {
    width: 235px;
    text-transform: uppercase;
    padding: 50px 20px;
    margin: 0px 20px 30px 0px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border: 1px solid;
    font-size: 13px; }
    #footer .column img {
      max-width: 90%; }
    #footer .column:last-child {
      margin: 0;
      text-transform: initial; }
    #footer .column p:last-child {
      margin-bottom: 0; }
  #footer .social {
    margin: 40px 0; }
  #footer p {
    margin: 25px 0; }
  #footer h2 {
    text-transform: uppercase;
    font-size: 15px;
    margin: 0 0 40px 0; }
  #footer ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  #footer li {
    margin: 20px 0; }
    #footer li:first-child {
      margin-top: 0; }
    #footer li a {
      color: #FFFFFF; }
  #footer input {
    color: #FFFFFF;
    display: inline-block; }
    #footer input[type=email] {
      background-color: transparent;
      border: 1px solid #FFFFFF;
      padding: 3px 10px;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 0px; }
    #footer input[type=submit] {
      border: 0;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      padding: 0px 0px 3px 2px;
      font-weight: bold;
      color: #9E9CD1;
      background-color: #FFFFFF;
      margin: 0 5px; }

.social img {
  width: 25px;
  height: 25px;
  margin-left: 5px; }

.share-icons a img {
  width: 28px;
  height: 28px;
  margin: .2em; }

#subscribe-popup {
  background-color: #9ca0d0;
  color: white;
  font-family: "Aileron", sans-serif; }
  #subscribe-popup a, #subscribe-popup .remodal-close {
    color: white; }
  #subscribe-popup img {
    max-width: 100%; }
  #subscribe-popup .remodal-close:hover {
    color: black; }
  #subscribe-popup .subheader {
    font-weight: bold;
    font-size: 1.2em; }
  #subscribe-popup hr {
    margin: 1.4em auto;
    width: 90px;
    border: solid 2px white; }
  #subscribe-popup .subtext {
    font-size: .7em; }
  #subscribe-popup input {
    color: #FFFFFF;
    display: inline-block; }
  #subscribe-popup input[type=email] {
    background-color: transparent;
    border: 1px solid #FFF;
    padding: 3px 10px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0px; }
  #subscribe-popup input[type=submit] {
    border: 0;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    padding: 0px 0px 3px 2px;
    font-weight: bold;
    color: #9E9CD1;
    background-color: #FFFFFF;
    margin: 0 5px; }

/**
 Article elements
**/
blockquote {
  font-size: 1.6rem;
  background: transparent url(../images/icons/quotation_1.png) no-repeat center top;
  font-family: "Unna", tahoma;
  text-align: center;
  max-width: 500px;
  font-weight: bold;
  padding: 70px 2rem 40px;
  margin: 40px auto 0; }
  blockquote .author {
    font-size: .65em;
    padding-top: .8em;
    display: block;
    color: #A7A8D4;
    font-family: 'Aileron', tahoma; }

article blockquote {
  float: left;
  width: 200px;
  font-family: 'Aileron', tahoma;
  line-height: 1.4rem; }

.sub-header, .main-image {
  text-transform: uppercase;
  text-align: center;
  margin: 2em 0;
  font-size: .8em;
  color: #585A59; }

.sub-header author, .sub-header time {
  display: block; }

.sub-header time {
  font-size: .9em;
  padding-top: .4em; }

.main-image {
  text-align: left;
  margin-top: 3em; }
  .main-image.tall {
    float: left;
    margin: 0;
    padding: 0 1em 1em;
    width: 500px; }
  .main-image img {
    max-width: 100%; }

.category-tag {
  background-color: #9CA0D0;
  color: white;
  padding: .6em 1.2em;
  text-transform: uppercase;
  margin: 0 0 2em;
  text-align: center;
  font-size: .7em;
  display: inline-block;
  font-weight: bold;
  font-family: "Aileron", sans-serif; }

.slideshow .image img {
  max-width: 100%; }

.article-footer {
  padding-top: 2em;
  border-top: solid 1px #ECECF6;
  color: #585A59; }
  .article-footer .share div {
    display: inline-block;
    padding: 0 .3em; }
  .article-footer .share .label {
    position: relative;
    top: -12px; }
  .article-footer .share .icon img {
    width: 32px; }
  .article-footer .author {
    background-color: #ECECF6;
    padding: 1em;
    margin: 1em 0;
    min-height: 80px; }

.author img.staff-image {
  border-radius: 50%;
  margin: 0 1em 0 .2em;
  float: left; }

.author .info {
  font-size: 12px;
  color: #888888;
  font-weight: 100; }

.author .name {
  color: #9B9DD0;
  font-weight: bold;
  font-size: 14px; }

/**
 Layout elements
**/
.featured-articles {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: flex-start;
  font-family: "Aileron", sans-serif; }
  .featured-articles .article {
    width: 180px; }
    .featured-articles .article div.category {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      vertical-align: middle;
      height: 22px;
      position: relative;
      margin: 0 auto;
      text-align: center;
      top: -16px;
      width: 110px;
      background-color: #A7A8D4;
      color: #FFFFFF;
      font-size: .5em;
      font-weight: bold;
      text-transform: uppercase; }
    .featured-articles .article div.title {
      font-weight: bold;
      text-align: center;
      font-size: .9em; }
      .featured-articles .article div.title a {
        color: #848388; }

.latest-articles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
  margin: 3em 0; }
  .latest-articles div.article {
    height: 150px;
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .latest-articles div.article div.image {
      width: 150px;
      height: 150px; }
      .latest-articles div.article div.image img {
        width: 100%;
        height: 100%; }
    .latest-articles div.article div.category, .latest-articles div.article div.title {
      align-content: flex-start;
      width: 150px;
      background-color: #F5F7F6; }
    .latest-articles div.article div.category {
      display: flex;
      flex-shrink: 1;
      padding: 5px;
      width: 140px;
      height: 24px;
      color: #FFFFFF;
      font-size: .74em;
      font-weight: bold;
      text-transform: uppercase;
      text-align: right;
      text-overflow: ellipsis;
      overflow: hidden; }
      .latest-articles div.article div.category span {
        background-color: #A7A8D4;
        margin: 2px;
        padding: 3px 7px; }
    .latest-articles div.article div.title {
      padding: 0 8px 8px;
      width: 134px;
      height: 108px;
      font-weight: bold;
      letter-spacing: 0;
      text-transform: uppercase; }
      .latest-articles div.article div.title a:hover {
        text-decoration: underline; }
    .latest-articles div.article:not(:last-child) div.image::before {
      position: absolute;
      content: '';
      background-image: url(../images/icons/box_arrow_right.svg);
      background-size: 12px 34px;
      background-repeat: no-repeat;
      background-position: center left;
      width: 150px;
      height: 150px;
      pointer-events: none; }
    .latest-articles div.article:nth-child(1), .latest-articles div.article:nth-child(3) {
      text-align: right; }
      .latest-articles div.article:nth-child(1) div.image, .latest-articles div.article:nth-child(3) div.image {
        order: 1; }
      .latest-articles div.article:nth-child(1) div.category, .latest-articles div.article:nth-child(3) div.category {
        flex-direction: row-reverse; }
    .latest-articles div.article:nth-child(2) div.image::before, .latest-articles div.article:nth-child(4) div.image::before {
      background-position: center right;
      background-image: url(../images/icons/box_arrow_left.svg); }
  .latest-articles div.article:nth-child(5) {
    height: 300px;
    width: 300px; }
    .latest-articles div.article:nth-child(5) div.image {
      width: 300px;
      height: 200px; }
    .latest-articles div.article:nth-child(5) div.category, .latest-articles div.article:nth-child(5) div.title {
      position: relative;
      top: -17px;
      text-align: center;
      justify-content: center;
      width: 290px;
      background-color: transparent; }
    .latest-articles div.article:nth-child(5) div.title {
      height: auto; }
      .latest-articles div.article:nth-child(5) div.title a {
        color: #848388; }

.recent-articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .recent-articles div.article {
    width: 100%;
    height: 200px;
    margin: 1em 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
    .recent-articles div.article div.image {
      width: 200px;
      height: 200px; }
    .recent-articles div.article div.category {
      padding: 10px 0;
      height: 24px;
      width: 100%;
      color: #FFFFFF;
      font-weight: bold;
      text-transform: uppercase; }
      .recent-articles div.article div.category span {
        background-color: #A7A8D4;
        padding: 3px 7px; }
    .recent-articles div.article div.title {
      font-size: 1.2em; }
      .recent-articles div.article div.title a {
        color: #848388;
        font-weight: bold; }

#contactsPage .text a {
  font-weight: bold; }

#bazaarPage #goto_bazaar {
  margin-top: .6em;
  min-width: 14em;
  border: solid 2px #bfc3e0;
  padding: .2em 3em .2em .2em;
  color: #888888;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  background: url(../images/icons/dropdown_arrow.png) white center right no-repeat; }

#bazaarPage article {
  font-size: 1.3em;
  clear: both;
  border-top: solid 1px #A7A8D4;
  margin-top: 3em;
  padding-top: 2em; }
  #bazaarPage article h2 {
    font-size: 2em;
    padding-top: .6em; }
  #bazaarPage article .top {
    float: right;
    clear: both; }
    #bazaarPage article .top img {
      width: 22px;
      height: 15px;
      padding: 1em; }

.staff img {
  max-width: 100%; }

.staff h1, .staff h2 {
  text-align: left;
  padding: .2em 0;
  margin: 0; }

.staff .column.one-half h2 {
  text-align: left;
  color: #58595b;
  font-size: 1.3em; }
