{% extends "base.html" %}

{% block bodyid %}aboutPage{% endblock %}

{% block content %}

    <section class="text">

        <div class="container">

            {% load staticfiles %}
            <h1><img src="{% static "images/headings/our_story.png" %}" alt="Our Story" class="page-title"></h1>
                
            <p>The idea for Tote Magazine started when then college student Shelby Newsome realized there wasn’t a magazine specifically for her – a college girl! There were teen magazines and young professional magazines, but nothing for the in-between that a college girl could fully relate to.</p>
 
            <p>Throughout college, this thought simmered in Shelby's mind. But it wasn’t until her senior thesis class at Towson University that she was able to do something about it. She created the pilot issue of Tote Magazine, an online lifestyle magazine for college women that focused on real college women doing amazing things.</p>
 
            <p>As soon as she graduated, Shelby got to work, forming a small team of creatives and writers. Two years later and Tote has grown its team and transformed into a community for young women who are chasing their dreams now.</p>
 
            <p>Tote is for any young woman looking to share their thoughts, get inspiration, and access tools to become the powerhouse they’re destined to be!</p>

        </div>

    </section>

    <section id="grid">
    
    {% for person in staff %}
        <div class="item" data-remodal-target="staff-{{ person.id }}">
            <a>
                <img src="{{ person.image_small.url }}" alt="{{ person }}" class="itemImage">
            </a>
            <a class="itemExcerpt">{{ person }}</a>
        </div>
    {% endfor %}

        <div class="clearfix"></div>
    </section>

    {% for person in staff %}        
    <div class="remodal text staff" data-remodal-id="staff-{{ person.id }}">
      <button data-remodal-action="close" class="remodal-close"></button>
          <div class="column one-half wide-40">
            <img src="{{ person.image_full.url }}" alt="{{ person }}">
            <h1>{{ person }}</h1>
            <h2>{{ person.title }}</h2>
          </div>
          <div class="column one-half wide-60 last">
            <p>{{ person.description|safe }}</p>
            <p class="share-icons">
                {% for site,location in person.social_media.items %}
                    {% if location %}
                        <a href="{{ location }}" title="{{ site }}"><img src="{% static "images/icons/social_" %}{{ site }}_dark.png"></a>
                    {% endif %}
                {% endfor %}
            </p>
          </div>
    </div>
    {% endfor %}


{% endblock %}