{% extends "base.html" %}

{% block content %}

    <section class="text">

        <div class="container">

            <h1><img src="images/headings/our_story.png" alt="Our Story" class="page-title"></h1>
                
            <p>The idea for Tote Magazine started when then college student Shelby Newsome realized there wasn’t a magazine specifically for her – a college girl! There were teen magazines and young professional magazines, but nothing for the in-between that a college girl could fully relate to.</p>
 
            <p>Throughout college, this thought simmered in Shelby's mind. But it wasn’t until her senior thesis class at Towson University that she was able to do something about it. She created the pilot issue of Tote Magazine, an online lifestyle magazine for college women that focused on real college women doing amazing things.</p>
 
            <p>As soon as she graduated, Shelby got to work, forming a small team of creatives and writers. Two years later and Tote has grown its team and transformed into a community for young women who are chasing their dreams now.</p>
 
            <p>Tote is for any young woman looking to share their thoughts, get inspiration, and access tools to become the powerhouse they’re destined to be!</p>

        </div>

    </section>

    <section id="grid">
    
    </section>
        
        
        
<div id="Shelby_Newsome" class="staff text">
  <div class="column one-half">
    <img src="images/team/Shelby_Newsome.png" alt="Shelby Newsome">
    <h1>Shelby Newsome</h1>
    <h2>Founder &amp; Editor-In-Chief</h2>
  </div>
  <div class="column one-half last">
    <p>Shelby is a proud graduate from Towson University. Through the network of people she connected with at Towson, Shelby felt more than ready to start her journey with Tote. She loves sunny days, words, and Gilmore Girls marathons. Coffee and sweets are a must for survival. Despite entering the "real" world. she still lives for back-to-school supply shopping (because adults still need cute agendas and notebooks, too!). Her bucket list is diverse, consisting of learning how to fence and riding hot air balloon as the sun rises. But most importantly, she believes in lifting women up and giving every young woman the tools and support they need to succeed.</p>
  </div>
</div>

{% endblock %}