{% extends "base.html" %}

{% block content %}

        <section class="text">

            <section class="container">

                {% load staticfiles %}
                <h1><img src="{% static "images/headings/advertise.png" %}" alt="Advertise with Tote!" class="page-title"></h1>
                
                <p class="subtitle">Want to join the conversation? Find out how you can advertise and partner with us.</p>
                
                <div class="column one-half center">
                    <form action="/advertise/" method="post" class="form">
                        {% csrf_token %}
                        <input type="text" name="fname" placeholder="First Name">
                        <input type="text" name="lname" placeholder="Last Name">
                        <input type="text" name="company" placeholder="Company">
                        <input type="email" name="email" placeholder="Email">
                        <input type="radio" name="option" value="advertise" checked> Advertising
                        <input type="radio" name="option" value="partner"> Partnering
                        <textarea name="message" placeholder="Message" rows="5"></textarea>
                        <input type="submit" value="submit">
                    </form>
                </div>
                
                <div class="clearfix"></div>
                
            </section>
        
        </section>

{% endblock %}