{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="container">

        <h2>{{ article.title }}</h2>

        <section class="sub-header">
            <author>TEXT: {{ article.publisher }}</author>
            <time>{{ article.published_date|date:"F j, Y" }}</time>
        </section>

        <section class="main-image">
            <img src="{{ article.image_web.url }}">
            {% if article.image_attribution %}
                <br>PHOTOS: {{ article.image_attribution }}
            {% endif %}
        </section>

        <article>
            {{ article.body|safe }}
        </article>

        <section class="article-footer">

            <div class="share">
                <div class="label">SHARE:</div> 
                <div class="icon">
                    <a href="http://twitter.com/home?status={{ article.title }}+http://www.totemag.com/article/{{ article.slug }}">
                        <img src="{% static "images/icons/social_twitter_dark.png" %}" alt="Twitter">
                    </a>
                </div>
                <div class="icon">
                    <a href="http://www.facebook.com/sharer/sharer.php?u=http://www.totemag.com/article/{{ article.slug }}&title={{ article.title }}">
                        <img src="{% static "images/icons/social_facebook_dark.png" %}" alt="Facebook"> 
                    </a>
                </div>
                <div class="icon">
                    <a href="http://pinterest.com/pin/create/button/?url=http://www.totemag.com/article/{{ article.slug }}&is_video=false&description={{ article.title }}">
                        <img src="{% static "images/icons/social_pinterest_dark.png" %}" alt="Pinterest"> 
                    </a>
                </div>
                <div class="icon">
                    <a href="http://www.tumblr.com/share?v=3&u=http://www.totemag.com/article/{{ article.slug }}&t{={ article.title }}">
                        <img src="{% static "images/icons/social_tumblr_dark.png" %}" alt="Tumblr"> 
                    </a>
                </div>
            </div>


            <div class="author">
                <img src="{{ article.publisher.image_thumbnail.url }}" class="staff-image" alt="{{ article.publisher }}">

                <div class="info">
                    <span class="name">{{ article.publisher }}</span> {{ article.publisher.info_text|safe }}
                </div>

            </div>
        </section>

    </div>

{% endblock %}