{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ article.title }}{% endblock %}

{% block shareimage %}{{ article.image_web.url }}{% endblock %}

{% block topad %}
    {% if top_ad %}
    <a href="{{ top_ad.url }}" target="blank">
        <img src="{{ top_ad.image_web.url }}" title="{{ top_ad.caption }}">
    </a>
    {% endif %}
{% endblock %}

{% block content %}

    {% include "article.html" %}

{% endblock %}

{% block scriptload %}
<script type="text/javascript" src="{% static "js/slick.min.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.slideshow').slick({
            dots: true,
            infinite: true,
            speed: 500,
            slidesToShow: 1,
            slidesToScroll: 1
        });
    });
</script>
{% endblock %}

{% block styleload %}
<link rel="stylesheet" type="text/css" href="{% static "css/slick.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/slick-theme.css" %}"/>
{% endblock %}