{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ article.title }}{% endblock %}

{% block shareimage %}{{ article.image_web.url }}{% endblock %}

{% block content %}

    <div class="container">

        {% if header_ad %}
        <div class="header-ad">
            <a href="{{ header_ad.url }}" target="_blank"><img src="{{ header_ad.image_web.url }}" title="{{ header_ad.caption }}"></a>
        </div>
        {% endif %}

    </div>
    <div class="container article-flex">

        <div class="article-container">

            <h2>{{ article.title }}</h2>

            <section class="sub-header">
                <author>TEXT: 
                    <a href="{{ article.publisher.get_absolute_url }}">{{ article.publisher }}</a>
                </author>
                {% if article.is_slideshow and article.image_attribution %}
                <author>PHOTOS: 
                    <a href="{{ article.publisher.get_absolute_url }}">{{ article.image_attribution }}</a>
                </author>
                {% endif %}
                <time>{{ article.published_date|date:"F j, Y" }}</time> <span class="category">{{ article.category.name }}</span>
            </section>

            {% if not article.is_slideshow %}
            <section class="main-image{% if article.is_tall_image %} tall{% endif %}">
                <img src="{{ article.image_web.url }}">
                {% if article.image_attribution %}
                    <br>PHOTOS: {{ article.image_attribution }}
                {% endif %}
            </section>
            {% endif %}

            <article>
                {{ article.body|safe }}
            </article>

            {% if article.is_slideshow %}
            <section class="slideshow">
                {% for img in slideshow %}
                <div class="image">
                    <img src="{{ img.image_web.url }}" alt="{{ img.description|striptags }}"><br>
                    {{ forloop.counter }}/{{ slideshow|length }} - {{ img.description|safe }}
                </div>
                {% endfor %}
            </section>
            {% endif %}

            <section class="article-footer">

                <div id="disqus_thread"></div>
                <script>
                var disqus_config = function () {
                    this.page.url = 'www.totemag.com{{ article.get_absolute_url }}';
                    this.page.identifier = '{{ article.slug }}';
                };

                (function() {
                var d = document, s = d.createElement('script');

                s.src = '//totemag.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

            </section>

        </div>

        <div id="side-ad">
            {% if side_ad %}
                <a href="{{ side_ad.url }}"><img src="{{ side_ad.image_web.url }}" title="{{ side_ad.caption }}"></a>
            {% endif %}
        </div>

    </div>

    {% load more_like_this %}

<section class="container">

    <hr>

    <h3>Recommended Articles</h3>

    <section class="articles-list recommended-articles horizontal">

    {% more_like_this article as related_content limit 4 %}
    
    {% for article in related_content %}
    
        <div class="article">
            <div class="image">
                <a href="{{ article.url }}">
                    <img src="{{ article.image }}">
                </a>
            </div>

            <div class="category">
                <span>{{ article.category }}</span>
            </div>

            <div class="title"><a href="{{ article.url }}">{{ article.title }}</a></div>

            <div class="description">
              {{ article.body|safe|striptags|truncatewords:20 }}
            </div>
        </div>

    {% endfor %}

    </section>

</section>


{% endblock %}

{% block scriptload %}
<script type="text/javascript" src="{% static "js/slick.min.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.slideshow').slick({
            dots: true,
            infinite: true,
            speed: 500,
            slidesToShow: 1,
            slidesToScroll: 1
        });
    });
</script>
{% endblock %}


