<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tote Magazine</title>

    {% load staticfiles %}

    <meta name="description" content="Tote Magazine">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">

    <meta property="og:title" content="{% block title %}Tote Magazine{% endblock %}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://www.totemag.com{% block shareimage %}{% static "images/logo/logo.svg" %}{% endblock %}" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content ="Tote Magazine">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/latest/feed/" />

    {% load sass_tags %}

    <link href="{% sass_src 'scss/style.scss' %}" rel="stylesheet" type="text/css" />
    {% block styleload %}{% endblock %}

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/remodal.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
    {% block scriptload %}{% endblock %}

    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
    <link rel="apple-touch-icon" href="{% static "images/favicon-152x152.png" %}">

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-40610810-1', 'auto');
        ga('send', 'pageview');
    </script>

</head>

<body id="{% block bodyid %}{% endblock %}">


    <sidebar id="main">

        <ul>

        {% for nav in navigation %}
            {% if nav.children %}
            <li><a onclick="javascript:toggleSub(this);">{{ nav.name }}</a>
                <ul class="sub">
                    {% for sub in nav.children %}
                        <li><a href="/list/{{ sub.slug }}">{{ sub.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% else %}
            <li><a href="/list/{{ nav.slug }}">{{ nav.name }}</a></li>
            {% endif %}
        {% endfor %}


        </ul>

        <hr>

        <ul class="last">

            <li><a href="/featured-girls/">Featured Girls</a></li>
            <li><a href="/videos/">Video</a></li>
            <li><a href="/bazaar/">Bazaar</a></li>

        </ul>


        <form action="/search/" method="get" class="search">
            <input type="search" name="q">
            <input type="submit" value="Search">
        </form>

    </sidebar>

    <a id="navOpen" class="icon"><img src="{% static "images/icons/menu.png" %}"></a>

    <div id="shadow"></div>

    <section id="content">

        <header>

            <nav>

                <div class="center">
                    <div id="logo">
                        <a href="/"><img src="{% static "images/logo/logo.svg" %}" alt="Tote Magazine's Logo" description="Tote Magazine"></a>
                    </div>

                    <a href="/about/">About</a>
                    <a href="/month/">This Month</a>
                    <a href="/videos/">Video</a>
                    <a href="/bazaar/">Bazaar</a>
                </div>

            </nav>

        </header>

        <a name="top"></a>

        {% if messages %}
        <div id="messages">
            <ul id="site-messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        
        <div class="container">

            <div class="header-ad">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Responsive -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-3397135870422995"
                     data-ad-slot="2521800464"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>

        </div>

        {% block content %}{% endblock %}



        <section id="footer">

            <div class="container">

                <div class="column">
                    <h2>Tote Magazine</h2>
                    <ul>
                        <li><a href="/about/">About</a></li>
                        <li><a href="/advertise/">Advertise</a></li>
                        <li><a href="/contact/">Contact Us</a></li>
                        <li><a href="/terms/">Privacy &amp; Terms</a></li>
                    </ul>
                    <p class="social">
                        <a class="twitter" href="https://twitter.com/tote_mag" target="_blank">&nbsp;</a>
                        <a class="facebook" href="https://www.facebook.com/totemagazine" target="_blank">&nbsp;</a>
                        <a class="instagram" href="https://instagram.com/tote_mag/" target="_blank">&nbsp;</a>
                        <a class="pinterest" href="https://www.pinterest.com/totemagazine/" target="_blank">&nbsp;</a>
                        <a class="youtube" href="https://www.youtube.com/channel/UCNe5sUD0iuWUJ4AfzxbhBKA" target="_blank">&nbsp;</a>
                        <a class="tumblr" href="http://totemagazine.tumblr.com" target="_blank">&nbsp;</a>
                    </p>
                    <p>Tote Media LLC.<br>All Rights Reserved.</p>
                </div>

                <div class="column">
                    <img src="{% static "images/headings/tote_tuesday_footer.png" %}" alt="Tote Tuesday"><br>
                    <p>Subscribe to our weekly newsletter</p>
                    <form action="/subscribe/" method="post">
                        {% csrf_token %}
                        <input type="email" name="email" placeholder="Email">
                        <input type="submit" value=">">
                    </form>
                </div>

                <div class="column">
                    <h2>Our Mission</h2>
                    <p>Tote Media is a digital platform created to inspire and empower young women.</p>
                    <p>We are redefining the next generation by shaking up how young women ingest digital information and build communities. We aren't afraid to break the rules and neither are Tote's readers.</p>
                    <p>We're giving our readers (and writers) a call to action. We want them to redefine the conversation about, for and between women. We want young women to be curious, to question everything, to think innovatively and to always share their thoughts.</p>
                </div>

            </div>

        </section>

    </section>

    {% if messages %}
    <script>
        $(document).ready(function() {
            $('#messages').remodal().open();
        });
    </script>
    {% endif %}

</body>

</html>
