{% extends "base.html" %}

{% block bodyid %}bazaarPage{% endblock %}

{% block content %}

        <section class="text">
            
            <div class="container">
        
            {% load staticfiles %}
            <h1><img src="{% static "images/headings/the_bazaar.png" %}" alt="The Bazaar" class="page-title"></h1>
            

            <p>Welcome to the Bazaar, a community of female entrepreneurs united and curated by the women of Tote Magazine. Although you probably just clicked on a link to get here, I ask you to take a moment to close your eyes and allow yourself to be swept off to the Mediterranean, to a massive outdoor market with drapes, clothes and sparkling jewels of every color and material. Every which way you turn there are carts and shelves and market stands filled with unique and handcrafted trinkets and treasures. Open your eyes. What we have created here for you is just that experience of shopping, but from your very own office, living room, or let’s be real, bed.</p>
            <p>Every shop owner, designer, and artist featured is a young woman with her own story to tell of how and why she decided to begin her own company. Whether it’s an Etsy shop or a boutique with a permanent location, you can find it here with links to the store’s shopping and social media pages, as well as a short biography of the company. The symbiotic relationship between these business owners and us was created to build respect, foster support, and uncover and share the work and lives of other real, hard-working, and inspirational women.</p>
        

            <p><select id="goto_bazaar">
                <option value="">JUMP TO</option>
            {% for shop in shops %}
                <option value="{{ shop.id }}">{{ shop.title }}</option>
            {% endfor %}
            </select><p>

            
            {% for shop in shops %}
            <article>
                <a name="shop-{{ shop.id }}"></a>
                {% cycle 'right' 'left' as contentside silent %}

                {% if contentside == 'left' %}
                <div class="column one-half wide-60">
                    <h2>{{ shop.title }}</h2>
                    <p>{{ shop.body|safe }}</p>
                    <p class="share-icons">
                        {% for site,location in shop.social_media.items %}
                            {% if location %}
                                <a href="{{ location }}" title="{{ site }}"><img src="{% static "images/icons/social_" %}{{ site }}_dark.png"></a>
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
                {% endif %}

                {% if contentside == 'right' %}
                <div class="column one-half wide-40">
                {% elif contentside == 'left' %}
                <div class="column one-half wide-40 last">
                {% endif %}
                    <p><img src="{{ shop.image1_web.url }}"></p>

                    {% if shop.image2 %}
                    <p><img src="{{ shop.image2_web.url }}"></p>
                    {% endif %}                        
                </div>

                {% if contentside == 'right' %}
                <div class="column one-half wide-60 last">
                    <h2>{{ shop.title }}</h2>
                    <p>{{ shop.body|safe }}</p>
                    <p class="share-icons">
                        {% for site,location in shop.social_media.items %}
                            {% if location %}
                                <a href="{{ location }}" title="{{ site }}"><img src="{% static "images/icons/social_" %}{{ site }}_dark.png"></a>
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
                {% endif %}
    
            </article>
            {% endfor %}
        
            <div class="clearfix"></div>
        </div>
    </section>


{% endblock %}