{% extends "base.html" %}

{% block content %}

    <section class="text">

        <div class="container">

            {% load staticfiles %}
            <h2>Get In Touch</h2>

            <form class="contact" action="/contact/" method="post">

                <p class="subtitle">We love hearing from you. Go ahead, hit the send button.</p>
                
                {% csrf_token %}

                <input type="hidden" name="return_url" value="{{ request.path }}">
                <input type="text" name="name" placeholder="Name"><br>
                <input type="email" name="email" placeholder="Email"><br>
                <select name="reason">
                    <option>Reason..</option>
                    <option value="general">General Inquiry</option>
                    <option value="join">Join #TeamTote</option>
                    <option value="intern">Intern With Tote</option>
                    <option value="feature">Feature Suggestion</option>
                    <option value="support">Technical Support</option>
                </select><br>
                <textarea name="message" placeholder="Message" rows="8"></textarea><br>
                <input type="submit" value="Submit">

            </form>
                
            <div class="clearfix"></div>

        </div>

    </section>

{% endblock %}

