{% extends "base.html" %}

{% block bodyid %}contactsPage{% endblock %}

{% block content %}

    <section class="text">

        <div class="container">

            {% load staticfiles %}
            <h1><img src="{% static "images/headings/get_in_touch.png" %}" alt="Get In Touch!" class="page-title"></h1>
            
            <p class="subtitle">We love hearing from you. Go ahead, hit the send button.</p>

            <form action="/contact/" method="post">
                {% csrf_token %}
                <input type="hidden" name="return_url" value="{{ request.path }}">
                <input type="text" name="name" placeholder="Name"><br>
                <input type="email" name="email" placeholder="Email"><br>
                <select name="reason">
                    <option>Reason..</option>
                    <option value="general">General Inquiry</option>
                    <option value="join">Join #TeamTote</option>
                    <option value="intern">Intern With Tote</option>
                    <option value="feature">Feature Suggestion</option>
                    <option value="support">Technical Support</option>
                </select>
                <textarea name="message" placeholder="Message" rows="5"></textarea>
                <input type="submit" value="Submit">

            </form>
                
            <div class="clearfix"></div>

        </div>

    </section>

{% endblock %}

