{% extends "base.html" %}

{% block content %}

{% load staticfiles %}


  <div class="container articles-list">

  {% if category %}
  <h2>{{ category.name }}</h2>
  {% endif %}

  {% if featured_articles %}

      <section class="featured-articles">

      {% for article in featured_articles %}
          <div class="article">
              <div class="image">
                  <a href="{{ article.get_absolute_url }}"><img src="{{ article.image_thumbnail.url }}"></a>
              </div>

              <div class="category">
                  <span>{{ article.category.name }}</span>
              </div>

              <div class="title"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></div>

              <div class="description">
                {{ article.body|safe|striptags|truncatewords:20 }}
              </div>
          </div>
      {% endfor %}

      </section>

  {% endif %}



  {% if latest_articles %}

      <section class="latest-articles">

      {% for article in latest_articles %}
          <div class="article">

              <div class="image">
                  <a href="{{ article.get_absolute_url }}">
                    <img src="{{ article.image_thumbnail.url }}">
                    <img class="fullsize" src="{{ article.image_web.url }}">
                  </a>
              </div>

              <div class="category">
                  <span>{{ article.category.name }}</span>
              </div>

              <div class="title">
                  <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
              </div>

              <div class="description">
                {{ article.body|safe|striptags|truncatewords:20 }}
              </div>

          </div>
      {% endfor %}

      </section>

  {% endif %}
<div class="container article-flex">
  {% if recent_articles|length > 0 %}
  <section class="article-container recent-articles">

  <hr>

  <h3>MOST RECENT</h3>

  {% for article in recent_articles %}
      <div class="article">

          <div class="image">
              <a href="{{ article.get_absolute_url }}"><img src="{{ article.image_thumbnail.url }}"></a>
          </div>

          <div class="category">
              <span>{{ article.category.name }}</span>
          </div>

          <div class="title">
              <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
          </div>

          <div class="description">
            {{ article.body|safe|striptags|truncatewords:20 }}
          </div>

      </div>
  {% empty %}
      <h3>No articles added here yet, try again later</h3>
  {% endfor %}

    {% if recent_articles|length >= 10 %}
    <section id="load" data-page="2"{% if category %} data-category="{{ category.slug }}"{% endif %}>

        <a onclick="moreArticles()">Load More</a>

    </section>
    {% endif %}

  </section>
  {% endif %}


  {% if popular_articles_side %}
    {% include "popular_articles_sidebar.html" %}
  {% endif %}

  </div>

</div>

{% if not category %}
  {{ month_articles }}
{% endif %}

<div class="modal" id="subscribe-popup" data-remodal-id="subscribe">
  <button data-remodal-action="close" class="remodal-close"></button>
  <p>
    <img src="{% static "images/headings/tote_tuesday_popup.png" %}" alt="Tote Tuesday">
  </p>
  <p class="subheader">
    OUR WEEKLY<br>
    NEWSLETTER ROUNDUP
  </p>
  <hr>
  <p>
    Break off a piece of the conversation,<br>
    save it for later or give it to a friend,<br>
    and pass along the Tote conversation.
  </p>
  <p>
    <form action="/subscribe/" method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email">
        <input type="submit" value=">">
    </form>
  </p>
  <p class="subtext">
      Want to go on a break? We'll understand.<br>
      Unsubscibe whenever you like- see our <a href="/terms">Privacy Policy</a> for more information.
  </p>
</div>

{% endblock %}

{% block scriptload %}
<script type="text/javascript">
    {% if not messages and not shown_subscribe %}
    $(document).ready(function() {
        $('[data-remodal-id=subscribe]').remodal().open();
    });
    {% endif %}
</script>
{% endblock %}
