{% extends "base.html" %}

{% block content %}

        <section id="grid" data-category="{{ category.slug }}">

        {% for post in articles %}    
            <div class="item">
                <a href="{{ post.get_absolute_url }}" title="{{ post.title }}">
                    <img src="{{ post.image_thumbnail.url }}">
                </a>
                
                <a href="{{ post.get_absolute_url }}" title="{{ post.title }}" class="itemExcerpt">
                    {{ post.title }}
                </a>
            </div>
        {% empty %}
            <center><h3>Sorry, it looks like we don't have any articles on this section yet</h3></center>
        {% endfor %}
    
        </section>

        <div class="clearfix"></div>
    
        <section id="load" data-page="2">
        
            <a onclick="moreArticles()">Load More</a>
        
        </section>
        
        
        <section id="ad">
        {% load staticfiles %}
            <a href="http://sassmagazine.com"><img src="{% static "images/ads/sass_banner_468x60.jpg" %}" alt="SASS Banner Advertisement"></a>
        </section>
        <!-- End Footer Ad -->


{% endblock %}

{% block scriptload %}
<script type="text/javascript">
    function moreArticles() {
        var page = parseInt($('#load').attr('data-page'));
        $('#load').attr('data-page', page + 1);
        var category = $('#grid').attr('data-category');
        if (category != '') {
            var articles = $.getJSON("api/article_list/" + category + '/' + page, function(data) { addArticles(data); })
        } else {
            var articles = $.getJSON("api/article_list/" + page, function(data) { addArticles(data); })
        }
    }

    function addArticles(list) {
        var grid = $('#grid');
        $.each(list, function (key, article) {

            grid.append('<div class="item"><a href="' + article.url +
                '" title="' + article.title + '"><img src="' +
                article.thumbnail_url + '"></a><a href="' + article.url +
                '" title="' + article.title +
                '" class="itemExcerpt">' + article.title + '</a></div>')
            console.log(article.title);
        });
    }
</script>
{% endblock %}