{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

<div class="container articles-list">

<section class="featured-articles">

{% for article in featured_articles %}
    <div class="article">
        <div class="image">
            <a href="{{ article.get_absolute_url }}"><img src="{{ article.image_thumbnail.url }}"></a>
        </div>

        <div class="category">
            <span>{{ article.category.name }}</span>
        </div>

        <div class="title"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></div>

        <div class="description">
          {{ article.body|safe|striptags|truncatewords:20 }}
        </div>
    </div>
{% endfor %}

</section>

<section class="latest-articles">

{% for article in latest_articles %}
    <div class="article">

        <div class="image">
            <a href="{{ article.get_absolute_url }}">
              <img src="{{ article.image_thumbnail.url }}">
              <img class="fullsize" src="{{ article.image_web.url }}">
            </a>
        </div>

        <div class="category">
            <span>{{ article.category.name }}</span>
        </div>

        <div class="title">
            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
        </div>

        <div class="description">
          {{ article.body|safe|striptags|truncatewords:20 }}
        </div>

    </div>
{% endfor %}

</section>


<section class="recent-articles">

{% for article in recent_articles %}
    <div class="article">

        <div class="image">
            <a href="{{ article.get_absolute_url }}"><img src="{{ article.image_thumbnail.url }}"></a>
        </div>

        <div class="category">
            <span>{{ article.category.name }}</span>
        </div>

        <div class="title">
            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
        </div>

        <div class="description">
          {{ article.body|safe|striptags|truncatewords:20 }}
        </div>

    </div>
{% endfor %}


</section>


</div>

<div class="modal" id="subscribe-popup" data-remodal-id="subscribe">
  <button data-remodal-action="close" class="remodal-close"></button>
  <p>
    <img src="{% static "images/headings/tote_tuesday_popup.png" %}" alt="Tote Tuesday">
  </p>
  <p class="subheader">
    OUR WEEKLY<br>
    NEWSLETTER ROUNDUP
  </p>
  <hr>
  <p>
    Break off a piece of the conversation,<br>
    save it for later or give it to a friend,<br>
    and pass along the Tote conversation.
  </p>
  <p>
    <form action="/subscribe/" method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email">
        <input type="submit" value=">">
    </form>
  </p>
  <p class="subtext">
      Want to go on a break? We'll understand.<br>
      Unsubscibe whenever you like- see our <a href="/terms">Privacy Policy</a> for more information.
  </p>
</div>

{% endblock %}

{% block scriptload %}
<script type="text/javascript" src="{% static "js/slick.min.js" %}"></script>
<script type="text/javascript">
    {% if not messages and not shown_subscribe %}
    $(document).ready(function() {
        $('[data-remodal-id=subscribe]').remodal().open();
    });
    {% endif %}

    function loadArticle(slug, count) {
        $.get( "api/article/" + slug, function( data ) {
            $('#grid .container').remove();
            var row = $('.count-' + Math.ceil(( count /4.0))*4)
            if (row.length != 0) {
                $(data).insertAfter(row);
            } else {
                $(data).appendTo($('#grid'));
            }
            startSlideshows();
        });
    }

    function moreArticles() {
        var page = parseInt($('#load').attr('data-page'));
        $('#load').attr('data-page', page + 1);
        var category = $('#grid').attr('data-category');
        if (category != '') {
            var articles = $.getJSON("api/article_list/" + category + '/' + page, function(data) { addArticles(data); }).fail(function() {
                    $('#load').hide();
                });
        } else {
            var articles = $.getJSON("api/article_list/" + page, function(data) { addArticles(data); }).fail(function() {
                    $('#load').hide();
                });
        }
    }

    function addArticles(list) {
        var grid = $('#grid');
        $.each(list, function (key, article) {

            grid.append('<div class="item"><a href="' + article.url +
                '" title="' + article.title + '"><img src="' +
                article.thumbnail_url + '"></a><a href="' + article.url +
                '" title="' + article.title +
                '" class="itemExcerpt">' + article.title + '</a></div>')
        });
    }

     function startSlideshows() {
        $('.slideshow').slick({
            dots: true,
            infinite: true,
            speed: 500,
            slidesToShow: 1,
            slidesToScroll: 1
        });
    }
</script>
{% endblock %}
