{% extends "base.html" %}

{% block content %}

<div class="container">

    <div class="theme-image">
        <img src="{{ theme.image_web.url }}" alt="{{ theme }}">
    </div>

    <div class="articles-list">
    {% for article in articles %}
        <div class="article">

            <div class="image">
                <a href="{{ article.article.get_absolute_url }}">
                  <img src="{{ article.article.image_thumbnail.url }}">
                </a>
            </div>

            <div class="category">
                <span>{{ theme.name }}</span>
            </div>

            <div class="title">
                <a href="{{ article.article.get_absolute_url }}">{{ article.article.title }}</a>
            </div>

            <div class="description">
              {{ article.article.body|safe|striptags|truncatewords:20 }}
            </div>

        </div>
    {% endfor %}
    </div>

    {{ popular_articles }}

</div>

{% endblock %}
