{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ staff.name }}{% endblock %}

{% block shareimage %}{{ staff.image_web.url }}{% endblock %}

{% block content %}

<div class="container">

  <h2>{{ staff.name }}</h2>
  <h3>{{ staff.title }}</h3>

  {{ staff.info_text|safe }}

  <div class="articles-list">
  {% for article in articles %}
    <div class="article">

        <div class="image">
            <a href="{{ article.get_absolute_url }}"><img src="{{ article.image_thumbnail.url }}"></a>
        </div>

        <div class="category">
            <span>{{ article.category.name }}</span>
        </div>

        <div class="title">
            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
        </div>

        <div class="description">
          {{ article.body|safe|striptags|truncatewords:20 }}
        </div>

    </div>
  {% endfor %}
  </div>

</div>

{% endblock %}
