
.container {
    max-width: 1200px;
}

.container.article-flex .container {
    width: 800px;
}

.featured-articles,
.articles-list.horizontal {
  div.article {
    width: 275px;

    div.image img {
      width: 275px;
    }
  }
}
 
.latest-articles {
    height: 400px;

    div.article {
        height: 200px;
        width: 400px;

        div.image {
            width: 200px;
            height: 200px;
        }
        div.category {
            width: 200px;
            font-size: .74em;
        }
        div.title {
            width: 200px;
            height: 180px;
            box-sizing: border-box
        }
        &:nth-child(5) {
          height: 400px;
          width: 400px;

          div.image {
            height: 400px;
            width: 400px;

            &::before {
              width: 400px;
              height: 400px;
            }
          }
          div.category, div.title {
            top: 310px;
          }
          div.category {
            padding: 0 2px;
          }
        }
        &:not(:last-child) div.image::before {
          width: 200px;
          height: 200px;
        }
    }
}

.month-articles {
    width: 1200px;
    height: 400px;

    div.article:nth-child(1),
    div.article:nth-child(4) {
      width: 400px;
      height: 400px;

      div.image {
        width: 400px;
        height: 400px;

        img.fullsize {
          width: 400px;
          height: 400px;
        }
        &::before {
          width: 400px;
          height: 400px;
        }
      }

      div.category, div.title {
        top: 300px;
      }
    }
    div.article:nth-child(2),
    div.article:nth-child(3) {
      width: 400px;
      height: 200px;

      div.image img {
        height: 200px;
        width: 200px;
      }
      div.category, div.title {
        margin-left: 210px;
      }
    }
}
