/**
 Colors
**/

$primary-color: #40c0c5;
$secondary-color: #9B8BBF;

$heading-color: #B3B4B8;

$text-color: #848388;
$dark-text-color: #141414;


/**
 Fonts
 **/
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

$header-font: 'EB Garamond', serif;
$text-font: 'Arial', sans-serif;



/**
 Universal elements
 **/

html, body {
    padding: 0;
    margin: 0;
}

body {
    color: $text-color;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 200;
    font-family: $text-font;
}

a {
    text-decoration: none;
    color: $primary-color;
    cursor: pointer;
}

h2 {
    margin: 0;
    padding: .8em 3rem;
    text-transform: capitalize;
    text-align: center;
    font-size: 1.6rem;
    font-family: $header-font;
}

h3 {
    margin: 1.2rem;
}

input, textarea, select {
    border: 2px solid $primary-color;
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 10px;
    box-sizing: border-box;
    min-width: 16rem;
}
input[type=submit] {
    background: $primary-color;
    color: #ffffff;
    width: auto;
    padding: 10px 40px;
    text-indent: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    margin: 0 auto;
    display: block;
}
input[type=radio] {
    width: auto;
    min-width: 0;
    display: inline-block;
}
::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
    color: $primary-color;
}
input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
select {
    color: #888888;
    text-transform: uppercase;
    outline: none;
    -moz-appearance: none;
         appearance: none;
    -webkit-appearance: none;
    background: url(../images/icons/dropdown_arrow.png) white center right no-repeat;
}

hr {
    height: 1px;
    background: $heading-color;
    border: none;
}

.clearfix {
    clear: both;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.article-container {
    max-width: 800px;
}

header {
    display: block;
    margin-top: 7rem;

    nav {
        position: fixed;
        top: 0;
        width: 100%;
        height: 3rem;
        z-index: 2;
        background-color: #FFF;
        border-bottom: solid 2px #DDD;

        div.center {
            height: 100%;
            display: flex;
            display: -ms-flexbox;
            display: -webkit-flex;
            margin: 0 64px;
            -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-flex-grow: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1;

            a {
                display: none;
                font-size: .7rem;
                font-weight: bold;
                margin: 0 0.8em;
                color: gray;
                text-transform: uppercase;
            }
        }
        #logo {
            display: flex;
            display: -ms-flexbox;
            display: -webkit-flex;

            a {
                display: block;

                img {
                    width: 100px;
                }
            }
        }
    }
}

a#navOpen {
    padding: 10px;
    position: fixed;
    z-index: 10;
    top: 7px;
    left: 10px;

    img {
        display: block;
        width: 20px;
        height: 16px;
    }
}

div#shadow {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.5);
    transition: all 1s;

    body.sidebarOpen & {
        opacity: 1;
        visibility: visible;
    }
}

sidebar {
    position: fixed;
    left: -350px;
    top: 0;
    z-index: 5;
    transition: left 1s;
    background-color: #FFF;
    box-sizing: border-box;
    width: 300px;
    height: 100%;
    color: #000;
    padding: 60px 50px;
    font-weight: 900;
    font-family: $text-font;

    .sidebarOpen & {
        left: 0;
        transition: left 1s;
        overflow-y: auto;
    }
    hr {
        margin: 30px 0 30px 20px;
        width: 100px;
        color: #FFFFFF;
        border-color: #111;
    }
    ul {
        list-style: none;
        padding-left: 25px;

        &.last {
            margin-bottom: 40px;
        }
        li {
            padding: 10px 0;

            ul {
                height: 0;
                overflow: hidden;
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s, opacity 0.5s linear;
            }
            &.open ul {
                visibility: visible;
                opacity: 1;
                height: auto;
                padding-top: .6em;
            }
            a {
                color: #111;
                text-transform: uppercase;
                font-size: 13px;
            }
            a:hover {
                border-bottom: solid 1px $primary-color;
            }
        }
    }
    input[type=search] {
        background-color: #FFFFFF;
        border: 2px solid #BBB;
        padding: 6px 0;
        text-indent: 5px;
        text-transform: uppercase;
        letter-spacing: 0px;
        width: 100%;
        min-width: 0;
        color: $text-color;
    }
    .search {
        position: relative;
        max-width: 200px;

        input[type=submit] {
            height: 20px;
            width: 20px;
            min-width: 0;
            position: absolute;
            top: 6px;
            right: 5px;
            background: transparent;
            border: 0;
            padding: 0;
            background-repeat: no-repeat;
            background-image: url(../images/icons/search.svg);
            font-size: 0;
            cursor: pointer;
        }
    }
}
#top-ad {
    img {
        width: 100%;
    }
}
#contact {
    right: -350px;

    .contactOpen & {
        right: 0;
    }
    h2 {
        text-align: center;
    }
    form input, form select, form textarea {
        background-color: transparent;
        border: 2px solid #FFFFFF;
        padding: 10px 0;
        text-indent: 10px;
        text-transform: uppercase;
        letter-spacing: 0px;
        width: 100%;
        color: #FFFFFF;
        border-radius: 0;
        margin: 0 0 20px;
    }
    form input[type=submit] {
        background: #FFFFFF;
        color: #A699D2;
        padding: 10px 40px;
        width: 200px;
        text-indent: 0;
        letter-spacing: 2px;
        font-size: 12px;
        margin: 0 auto;
        display: block;
    }
}
#content {
    transition: width 1s, margin 1s;

    article {
        font-family: $text-font;
        line-height: 1.5rem;
        font-size: 1.05em;
        color: $dark-text-color;
    }
}

#site-messages {
    list-style: none;
    text-align: center;
}

#footer {
    width: 100%;
    padding: 50px 0;
    background-color: #111;
    color: #FFFFFF;
    letter-spacing: 1px;
    margin-top: 40px;
    font-weight: normal;
    font-family: $text-font;

    .container {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        -webkit-align-content: flex-start;
            -ms-flex-line-pack: start;
                align-content: flex-start;
    }
    .column {
        width: 275px;
        box-sizing: border-box;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        text-transform: uppercase;
        padding: 50px 20px;
        margin: 10px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        border: 1px solid;
        font-size: 13px;

        img {
            max-width: 90%;
        }
        &:last-child {
            text-transform: initial;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
    .social {
        margin: 40px 0;

        a {
            width: 25px;
            height: 25px;
            display: inline-block;
            background-repeat: no-repeat;
            background-image: url(../images/icons/social_white.png);

            &.twitter {
                background-position: (-25px * 4) 0;
            }
            &.facebook {
                background-position: (-25px * 0) 0;
            }
            &.instagram {
                background-position: (-25px * 1) 0;
            }
            &.pinterest {
                background-position: (-25px * 2) 0;
            }
            &.youtube {
                background-position: (-25px * 5) 0;
            }
            &.tumblr {
                background-position: (-25px * 3) 0;
            }
        }
        
    }
    p {
        margin: 25px 0;
    }
    h2 {
        text-transform: uppercase;
        font-size: 15px;
        margin: 0 0 40px 0;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    li {
        margin: 20px 0;

        &:first-child {
            margin-top: 0;
        }
        a {
            color: #FFFFFF;
        }
    }
    input {
        color: #FFFFFF;
        display: inline-block;
        min-width: 0;

        &[type=email] {
            background-color: transparent;
            border: 1px solid #FFFFFF;
            padding: 3px 10px;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: bold;
            letter-spacing: 0px;
        }
        &[type=submit] {
            border: 0;
            border-radius: 100%;
            width: 20px;
            height: 20px;
            padding: 0px 0px 3px 2px;
            font-weight: bold;
            color: #000;
            background-color: #FFFFFF;
            margin: 0 5px;
            min-width: 0;
        }

    }

}

.social img {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
.share-icons a img {
    width: 28px;
    height: 28px;
    margin: .2em;
}
#subscribe-popup {
    background-color: #111;
    color: white;
    font-family: $text-font;

    a, .remodal-close {
        color: white;
    }
    img {
        max-width: 100%;
    }
    .remodal-close:hover {
        color: black;
    }
    .subheader {
        font-weight: bold;
        font-size: 1.2em;
    }
    hr {
        margin: 1.4em auto;
        width: 90px;
        border: solid 2px white;
        background-color: #FFF;
    }
    .subtext {
        font-size: .7em;
    }
    input {
        color: #FFFFFF;
        display: inline-block;
    }
    input[type=email] {
        background-color: transparent;
        border: 1px solid #FFF;
        padding: 3px 10px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 0px;
    }
    input[type=submit] {
        border: 0;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        min-width: 0;
        padding: 0px 0px 3px 2px;
        font-weight: bold;
        color: #000;
        background-color: #FFFFFF;
        margin: 0 5px;
    }

}
.header-ad {
    text-align: center;
    margin: 2em 0;

    img {
        max-width: 100%;
    }
}


/**
 Article elements
**/
.article-flex {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-preferred-size: 10%;
    -webkit-flex-basis: 10%;
            flex-basis: 10%;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;

    .article-container {
        -webkit-flex: 7;
            -ms-flex: 7;
                flex: 7;
    }
    #side-ad {
        transition: margin 200ms;
        margin-left: 1em;
        -webkit-flex: 3;
            -ms-flex: 3;
                flex: 3;
        text-align: right;
    }
}
blockquote {
    font-size: 1.6rem;
    background: transparent url(../images/icons/quotation_1.png) no-repeat center top;
    font-family: "Unna", tahoma;
    text-align: center;
    max-width: 500px;
    font-weight: bold;
    padding: 70px 2rem 40px;
    margin: 40px auto 0;

    .author {
        font-size: .65em;
        padding-top: .8em;
        display: block;
        color: $primary-color;
        font-family: $text-font;
    }
}

article blockquote {
    float: left;
    width: 200px;
    font-family: $header-font;
    line-height: 1.4rem;
}


.sub-header, .main-image {
    text-transform: uppercase;
    text-align: center;
    margin: 2em 0;
    font-size: .8em;
    color: #585A59;
}
.sub-header author, .sub-header time {
    display: block;
}
.sub-header time {
    font-size: .9em;
    padding-top: .4em;
}
.main-image {
    text-align: left;
    margin-top: 3em;

    &.tall {
        float: left;
        margin: 0;
        padding: 0 1em 1em;
        width: 500px;
    }
    img {
        max-width: 100%;
    }
}

.category-tag {
    background-color: transparent;
    color: white;
    padding: .6em 1.2em;
    text-transform: uppercase;
    margin: 0 0 2em;
    text-align: center;
    font-size: .7em;
    display: inline-block;
    font-weight: bold;
    font-family: $text-font;
}
.slideshow .image img {
    max-width: 100%;
}
.article-footer {
    padding-top: 2em;
    border-top: solid 1px #ECECF6;
    color: #585A59;

    .share {
        div {
            display: inline-block;
            padding: 0 .3em;
        }
        .label {
            position: relative;
            top: -12px;
        }
        .icon img {
            width: 32px;
        }
    }
    .author {
        background-color: #ECECF6;
        padding: 1em;
        margin: 1em 0;
        min-height: 80px;
    }
}
.author {
    img.staff-image {
        border-radius: 50%;
        margin: 0 1em 0 .2em;
        float: left;
    }
    .info {
        font-size: 12px;
        color: #888888;
        font-weight: 100;
    }
    .name {
        color: #9B9DD0;
        font-weight: bold;
        font-size: 14px;
    }
}

/**
 Layout elements
**/
.articles-list {
  div.article div.image img.fullsize {
    display: none;
  }
}

.recent-articles,
.articles-list {

    div.article {
        width: 100%;
        min-height: 260px;
        margin: 1em 0;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;

        div.image {
            width: 230px;
            height: 210px;
            float: left;
            margin-left: 10px;

            img {
              width: 200px;
            }
        }
        div.category {
            padding: 2px 0;
            margin: 2px 0 0 240px;
            height: 24px;
            color: #FFFFFF;
            font-weight: bold;
            text-transform: uppercase;

            span {
                color: $primary-color;
                background-color: white;
                font-size: 0.7rem;
            }
        }
        div.title {
            font-size: 1.2rem;
            font-family: $header-font;
            margin-left: 240px;

            a {
                color: $text-color;
                font-weight: bold;
            }
        }
        div.description {
          padding: .8em 0 0;
        }
    }
}

.search-form {
  text-align: center;
  margin: 1em 0 2em;
}

#bazaarPage {
    article {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        border-top: solid 1px #000;
        margin-top: 3em;
        padding-top: 2em;

        h2 {
            font-size: 2em;
            padding-top: .6em;
            line-height: 2rem;
        }
        .text {
            -webkit-flex: 2;
                -ms-flex: 2;
                    flex: 2;
            padding: 1rem;
        }
        .images {
            -webkit-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            text-align: center;

            img {
                margin: 0 auto
            }
        }
        &:nth-child(even) {
            .text {
                -webkit-order: 1;
                    -ms-flex-order: 1;
                        order: 1;
            }
            .images {
                -webkit-order: 0;
                    -ms-flex-order: 0;
                        order: 0;
            }
        }
        a.bazaar-anchor {
            position: relative;
            top: -100px;
        }
        .top {
            width: 100%;
            -webkit-order: 3;
                -ms-flex-order: 3;
                    order: 3;

            img {
                width: 22px;
                height: 15px;
                padding: 1em;
                float: right;
            }
        }
    }
}

form.contact,
form.advertising {
    text-align: center;
}

.staff {
    img {
        max-width: 100%;
    }
    h1, h2 {
        text-align: left;
        padding: .2em 0;
        margin: 0;
    }
    .column.one-half h2 {
        text-align: left;
        color: #58595b;
        font-size: 1.3em;
    }
}

.theme-image {
    img {
        width: 100%;
    }
}


/**
 Media queries
**/
@media (min-width: 900px) {

  @import 'tablet';

}

@media (min-width: 1200px) {

  @import 'desktop';

}

@media (max-width: 560px) {

  .articles-list div.article {
    min-height: 220px;

    div.image {
      width: 180px;
      height: 180px;

      img {
        width: 170px;
      }
    }
    div.title, div.category, div.description {
      margin-left: 190px;
    }
    div.category {
      font-size: .8em;
      padding: 8px 0 0;
    }
    div.title {
      font-size: 1em;
      line-height: 1em;
    }
    div.description {
      font-size: .8em;
    }
  }

}

/**
 Import library css
 **/

@import '../css/remodal';

@import '../css/remodal-default-theme';

@import '../css/slick';

@import '../css/slick-theme';